body{
    margin:0;
    font-family:'Gaegu',cursive;
    background:#fffdf7;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* 중앙 영역 */
.main{
    text-align:center;
}

h1{
    font-size:70px;
    margin-bottom:40px;
}

.expression{
    font-size:52px;
    margin:25px 0;
}

/* 버튼 */
button{
    font-family:'Gaegu';
    font-size:26px;
    padding:14px 30px;
    border-radius:25px;
    border:3px solid black;
    background:white;
    cursor:pointer;
}

button:hover{
    background:#f5f5f5;
}

/* 모달 */
.modal{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:85%;
    height:75%;
    background:white;
    border:4px solid black;
    border-radius:25px;
    padding:20px;
    overflow:auto;
    z-index:999;
}

.emoji-grid{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    font-size:30px;
}

.emoji{
    cursor:pointer;
    transition:0.2s;
}

.emoji:hover{
    transform:scale(1.3);
}

/* 설정 버튼 */
.setting-btn{
    position:fixed;
    bottom:20px;
    right:20px;
    width:65px;
    cursor:pointer;
}
